.img {
	background-image: url("https://personaholidays.com/media/images/merchants/52/caribbean-sea.jpg");
	background-repeat: no-repeat;
	background-color: #cccccc;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hme {
	background-image: url('https://odis.homeaway.com/odis/homepage/1bb3a26d-9eff-45c8-815e-3890dfdd514d.hp-lyp-large.jpg');
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}